#thelobangbanner {
    background-image: url("resources/thalobang-banner.png");
    width: auto;
    height: 200px;
    background-size: 100% auto;
    background-position: center;
    position: relative;
}
#thelobangicon {
    background-image: url("resources/void-icon.png");
    background-repeat: no-repeat;
    width: 60px;
    height: 60px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#voidbanner {
    background-image: url("resources/void-banner.jpg");
    width: auto;
    height: 200px;
    background-size: 100% auto;
    background-position: center;
    position: relative;
}
#voidicon {
    background-image: url("resources/void-icon.png");
    background-repeat: no-repeat;
    width: 60px;
    height: 60px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#adbuttongroup {
}
#adbuttonitchio {
    background-image: url("resources/ad-button-itchio.svg");
}
#adbuttonsteam {
    background-image: url("resources/ad-button-steam.png");
}
#adbuttonplaystore {
    background-image: url("resources/ad-button-playstore.png");
}
