#thelobang {
    background-image: url("resources/thalobang-banner.png") no-repeat;
    width: 100%;
    height: 100%;
    background-size: 100% auto;
    background-position: center;
}
#thelobangicon {
    background-image: url("resources/void-icon.png") no-repeat;
    width: 50%;
}
#void {
    background-image: url("resources/void-banner.png") no-repeat;
    width: 100%;
    height: 100%;
    background-size: 100% auto;
    background-position: center;
}
#voidicon {
    background-image: url("resources/void-icon.png") no-repeat;
    width: 50%;
}
